**/assignment_1/builddir
**/assignment_1/subprojects
**/assignment_1/.vscode
**/assignment_2/builddir
**/assignment_2/subprojects
**/assignment_2/.vscode
**/assignment_3/builddir
**/assignment_3/subprojects
**/assignment_3/.vscode
**/assignment_4/builddir
**/assignment_4/subprojects
**/assignment_4/.vscode
**/assignment_5/builddir
**/assignment_5/subprojects
**/assignment_5/.vscode
**/assignment_6/builddir
**/assignment_6/subprojects
**/assignment_6/.vscode
*.build